### Handle categorical features
#### One hot encoding

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("D:/Rptech/Technical/DS_stats/dataset/titanic_train.csv", usecols=['Embarked'])
df.head()

  Embarked
0        S
1        C
2        S
3        S
4        S

In [10]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [11]:
df.dropna(inplace=True)

In [14]:
df.shape

(889, 1)

In [16]:
pd.get_dummies(df, drop_first=True).head()

   Embarked_Q  Embarked_S
0           0           1
1           0           0
2           0           1
3           0           1
4           0           1